---
---


.bio {
  padding: 10%;
}

.images {
  text-align: center;
}

.biopic {
  border-radius: 50%;
}

/*Social icons in sidebar*/
.social-icons {
  margin-left: 2%;
}

.social-icons i, i:hover {
  padding-right: .7rem;
  color: #000;
}

.description {
  font-size: 22px;
  font-family: serif;  
}

@media (max-width: 750px) {
  .images {
    float: none;
    width: 100%;
  }

   .description {
     float: bottom;
     width: 100%;
     text-align: center;
   }
}

@media (min-width: 750px) {
  .images {
    float: left;
    width: 50%;
  }
   .description {
      float: left;
      width: 30%;
    }
}

#name {
  font-style: normal;
  font-family: serif;
  font-size: 18px;
}
