---
layout: compress
---

<head>
  <!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="bio" id="bio">

  <div class="images">
    <!-- Bio Pic -->
    <div>
      <img src="public/biopic.jpg" class="biopic">
    </div>
    <div id="name">
      <p>Sandeep R Venkatesh</p>
    </div>
    <!-- Social Network Icons -->
    <div class="social-icons">
      <!-- LinkedIn -->
      <a href="https://www.linkedin.com/in/rvsandeep" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
      <!-- Github -->
      <a href="https://github.com/rvsandeep" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <!-- Twitter -->
      <a href="https://twitter.com/rvsandeep792" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      <!-- Email -->
      <a href="mailto:rvsandeep@outlook.com"><i class="fa fa-envelope fa-2x"></i></a>
    </div>
  </div>
  <div class="description">
    <p>{{ content }}</p>
  </div>
</div>
</body>
